.login {
    width: 330px;
    height: 323px;
    margin: 5rem auto;
    justify-content: center;
    background-color: #8DCBE6;
    opacity: 0.6;
    border-radius: 10px;
    padding: auto;
}

.input {
    height: 38px;
    width: 100px;
    margin: 0.5rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding-left: 1rem;
}